 a.file {line-height:200%;font-size:14px;}
.manager {width:100%;}
.manager_menu {width:1250px;text-align:left;margin:auto;margin-top:20px;margin-bottom:20px;}
.manager_menu a {display:inline-block;padding:5px 10px;border:1px solid #ddd}
.manager_menu input {padding:5px;}
.form {display:none}
.manager_menu select, .manager_menu input {padding:5px}

.manager_top_menu {background-color:#ddd}
.manager_top_menu span {display:inline-block;padding:15px;margin-left:5px;margin-right:5px;cursor:pointer}
.manager_top_menu span.sel { background-color:white;font-weight:bold }
.manager_top_menu span.open {background-color:white}
.manager_top_menu a {display:inline-block;padding:15px;margin-left:10px;margin-right:10px;}

.manager_menu .row {display:none}
.manager_menu .row_user {display:block}
select {width:100px}
.row_partner select {width:150px}