@charset "utf-8";
/* CSS Document */
/* ------------------------------------------------------------
 * Name      : bbs.css
 * Desc      : 게시판 layout 
 * Created   : 
 * Updated   : 
 ------------------------------------------------------------ */

 /* 리스트 테이블 */
.board_listW {clear:both; width:100%; /*border-top:2px solid #ff744f;*/}
table.board-list {width:100%; background:#fff; table-layout:fixed;  border-top:1px solid #000;}
table.board-list thead tr th {background-color:#f9f9fa; border-bottom:1px solid #cccccc; font-size:13px; color:#000; padding:7px;}

table.board-list tr.on td {background:#fafafa;}
table.board-list tbody tr td {border-bottom:1px solid #cccccc; line-height:20px; padding:12px 0px; text-align:center; color:#333;}
table.board-list td p.name { padding:0px 30px; display:inline-block; zoom:1; *display:inline; position:relative;}
table.board-list td p.name .honor2 { position:absolute; left:0px; top:0px;}
table.board-list td a {color:#666666;}

table.board-list td.subject {text-align:left; padding-left:15px;}
table.board-list td.subject a {display:inline-block; max-width:90%; vertical-align:middle; overflow: hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow: ellipsis;}
table.board-list .notice_tr td {background:#eff8ff;}
table.board-list td p.name { padding:0px 30px; display:inline-block; zoom:1; *display:inline; position:relative;}
table.board-list td p.name .honor2 { position:absolute; left:0px; top:0px;}
table.board-list td img { vertical-align:middle;}
table.board-list td div.faq { background: url(/img/common/icon_re.gif) no-repeat scroll left 1px; padding-left:45px; margin-left:12px; text-align:left;}
table.board-list td.subject .icon_file { background:url(/img/common/icon_note.gif) no-repeat left center; padding-left:15px; line-height:14px;}
table.board-list td.bg {background-color:#f7f7f7;}
table.board-list td.purple {background-color:#84308e; border-top:1px solid #fff; font-family:nGothicB; color:#fff; font-size:13px;}
table.board-list.br_table th {border:1px solid #e4e4e4; border-top:2px solid #505050; font-size: 14px; padding: 12px 0 11px;}
table.board-list.br_table td {border:1px solid #e4e4e4; padding:9px 0 8px;}
table.board-list .re_tr td { background:#fdfdfd; text-align:left; padding:8px 8px 8px 40px;}



/* 뷰페이지 */
.table_line {border-top:1px solid #000;}
.board-view {width:100%; table-layout:fixed; font-size:14px; word-break:break-all}
.board-view th {border-bottom:1px solid #e3e3e3; padding:10px 0 9px 0px; text-align:left; color:#2d2d2d;}
.board-view tr:first-child th {border-top: 2px solid #13a9c7;}

.board-view th.title {font-size:14px; color:#13a9c7; padding:13px 20px; font-weight:bold; letter-spacing:-1px;}
.board-view th.day {font-size:14px; color:#999999; font-weight:normal; text-align:center;}
.board-view th.day .line { display:inline-block; vertical-align:middle; width:20px; height:8px; background:url(/img/common/th_line.gif) no-repeat center top;}
.board-view.tl th {text-align:left; padding-left:15px;}
.board-view td {border-bottom:1px solid #e3e3e3; line-height:160%; padding:15px 0 15px 15px; color:#666666;}
.board-view td.tc {text-align:center; padding:12px 0 11px 0px;}
.board-view td.view_td {padding:20px; border-bottom:1px solid #e3e3e3;}
.board-view td.write_td {padding:20px 0px;}
.board-view td .file { position:relative;}
.board-view td .file .file_t {position:absolute; left:20px; top:9px; color:#666666; font-weight:normal;}
.board-view td .file li {min-height:20px; line-height:20px; padding:9px 8px 13px 110px; border-top:1px solid #f1f1f1}
.board-view td .file li a { display:inline-block; padding-left:20px; background:url(/img/common/file.gif) no-repeat left 4px; font-size:13px; color:#666666;}
.board-view td .file li:first-child {border-top:none;}

.correctionW {margin-top:30px; position:relative;}
.correctionW .tit {background:#98c5e0; height:37px; text-align:center; color:#fff; font-family:nGothicB; font-size:13px; line-height:36px;}
.correctionW .con {background:#e6f0f6; padding:27px; border:1px solid #cddce5; border-top:none;}
.correctionW .memo {position:absolute; right:0px; bottom:0px;}
#blog_inner .board-view td.view_td {width:723px; word-break:break-all;}


.board-view td.file a {color:#d3070d; display:inline-block; padding-left:22px; margin-right:10px; background:url(/img/common/add_file.gif) no-repeat left center;}


.board-view th.cont {padding: 60px 0 64px 20px;}
.board-view .reply td { background:#eeeeee; padding:10px 0 10px 10px;}
.board-view .reply td .faq span { display:block; height:27px; padding-left:44px; background:url(/img/common/icon_re2.gif) no-repeat left 3px; color:#b50047;}
.board-view .reply td .faq p { padding-left:16px;}
.board-view th.last, .board-view tr.last th, .board-view tr.last td { border-bottom: 1px solid #ACACAC;}
.board-view td.event { padding:20px; text-align:center;}


/* 이전글 다음글 */
.next_list {border:1px solid #c6c6c6; border-left:none; border-right:none; margin:35px 0px 0px 0px;}
.next_list dl {position:relative; padding-left:110px; height:45px; line-height:45px;}
.next_list dl.prev { border-top:1px solid #f3f3f3;}
.next_list dl.prev dt { background:url(/img/common/arrow_bottom.gif) no-repeat 20px 20px;}
.next_list dl dt {position:absolute; left:0px; top:0px; color:#999999; text-align:left; font-weight:normal; width:60px; background:url(/img/common/arrow_top.gif) no-repeat 20px 20px; padding-left:40px; font-size:13px;}
.next_list dl dd {
    /*padding-left:20px;
	background:url(/img/common/top_line.gif) no-repeat left center; */
	color:#666666;
	font-size:14px; 
	overflow: hidden; 
	white-space: nowrap;
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis;
	padding-right:10px;
	height:45px;
}
.next_list dl dd a {color:#666666; display:block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis; }



/* 페이징 */
.br_paging {border-top:3px solid #1e1e1e; margin-top:20px;}
.br_paging .paging  {margin-top:0px; background:none;}
.paging_box {position:relative; /*border-top:2px solid #505050;*/}
.write_btn {position:absolute; right:0; top:32px; z-index:9;}
.paging,
.paging *{box-sizing:content-box;-webkit-box-sizing:content-box;}
.paging {overflow:hidden; text-align:center; font-size:0px; margin:30px 0px; width:100%;} 
.paging img {vertical-align:top;}
.paging a {color:#737070; vertical-align:middle; font-size:13px; display:inline-block; zoom:1; line-height:28px; *display:inline; width:28px; height:28px; border:1px solid #e2e2e2; margin-left:2px;}
.paging a.prev {padding:0px 10px 0px 0px; border:none; height:30px;}
.paging a.first, .paging a.prev, .paging a.next, .paging a.last {border:none; width:30px; height:30px;}
.paging a.next {padding:0px 0px 0px 10px; border:none; height:30px;}
.paging a.on {color:#fff; background:#53535d; border:1px solid #53535d;}



/* 셀렉트 디자인 */
.st_select {min-widht:100px; margin-right:2px; position:relative; display:inline-block; zoom:1; *display:inline; vertical-align:middle;}
.st_select p.pl10 {background:#fff; border:1px solid #cacccb;}

.select_input {height:26px; line-height:26px; font-family: nGothicB, dotum, gulim; border:none; line-height:26px; width:100%; padding:0px; color:#656565}
.board-write .select_input {font-family: nGothic;}

.button-1 {border:none; width:100%; height:28px; position:absolute; left:0px; top:0px; padding:0px; font-size:0; background:url(/images/common/button-1.png) no-repeat right center;}
.Select {position:absolute; border-top:1px solid #e2e2e2; width:100%; max-height:350px; overflow-y:auto; overflow-x:hidden; top:28px; left:0px; display:none; z-index:999; padding-bottom:30px;}
.Select li {padding:4px 0 4px 10px; min-height:20px; line-height:20px; border:1px solid #e2e2e2; text-align:left; border-top:none; background:#fff; cursor:pointer; }
.Select li:hover {background:#f7f7f7}
.st_select.gray p.pl10 {border:1px solid #cacccb; background:#f4f4f4;}
.st_select.gray .select_input {background:#f4f4f4; color:#737070}
 
 /* 게시글 검색 */
.search_barW {padding-bottom:15px; overflow:hidden;}
.search_barW .search_bar {text-align:left; padding:0px; margin-top:0px; background:none; border:none;}
.search_barW .search_bar .select {height:38px; border:1px solid #dcdcdc;}
.search_barW .search_bar .inputW {border:1px solid #dcdcdc; background:#fff; display:inline-block; vertical-align:top; padding:0px 5px;}
.search_barW .search_bar .input {border:1px solid #e5e5e5; color:#656565; box-sizing:inherit !important; padding:0px 0px 0px 10px; line-height:28px; height:29px;}
 
.search_bar {text-align:center; padding:10px 0px; margin-top: 10px; background: #f4f4f4; border: 1px solid #ccc;}

.bbs_search {text-align:center; height:40px;}
.bbs_search .select {border:1px solid #cacccb; vertical-align:middle; width:120px; background-color:#f4f4f4; height:40px; font-family: nGothicB, dotum, gulim;}
.bbs_search .st_select {min-widht:100px; margin-right:0px; position:relative; display:inline-block; *display:inline; vertical-align:middle;}
.bbs_search .st_select p.pl10 {border:1px solid #cacccb; background:#f4f4f4;}
.bbs_search .select_input {height:38px; background:#f4f4f4; line-height:40px; font-family: nGothicB, dotum, gulim; border:none; line-height:38px; width:100%; padding:0px; color:#737070}
.bbs_search .button-1 {border:none; width:100%; height:40px; position:absolute; left:0px; top:0px; padding:0px; font-size:0; background:url(/img/common/button-1.png) no-repeat right center;}
.bbs_search .Select {position:absolute; width:100%; top:40px; left:0px; display:none }
.bbs_search .Select li {padding:5px 5px 5px 10px; min-height:20px; line-height:20px; border:1px solid #e2e2e2; border-top:none; background:#fff; cursor:pointer; text-align:left;}
.bbs_search .Select li:hover {background:#f7f7f7}
.bbs_search .input {border:1px solid #cacccb; color:#656565; padding:3px 3px 3px 10px; line-height:32px; height:32px; font-family: nGothicB, dotum, gulim; vertical-align:middle;}
.st_select_top .st_select p.pl10 {background:#f4f4f4;}
.st_select_top .select_input {background:#f4f4f4; font-family:nGothicB;}





.st_select_top .st_select p.pl10 {background:#f4f4f4;}
.st_select_top .select_input {background:#f4f4f4; font-family:nGothicB;}
 
 /*글쓰기*/
.board-write {width:100%; border-bottom:1px solid #c2c2c2;}
/*.board-write tr:first-child th { border-top:1px solid #505050;}
.board-write tr:first-child td { border-top:1px solid #505050;}*/
.board-write th {background:#f9f9fa; border:1px solid #cccccc; padding:8px 15px 7px 30px; text-align:left; color:#000;}
.board-write.th_tc th {padding:10px 0 9px 0px; text-align:center;}
.board-write th .check {color:#cc3333; margin-left:-10px;}
.board-write td {border:1px solid #cccccc; padding:8px 10px 7px 10px; background:#fff; color:#333;}
.board-write td.tc {text-align:center;  padding:12px 0 11px 0px;}

.board-write td.file a { color:#737070; display:inline-block; padding-left:22px; background:url(/img/ico/add_file.gif) no-repeat left center;}

.imp {font-family:nGothicB; color:#82308e; font-size:13px; width:10px; display:inline-block; zoom:1; *display:inline;}
.board-write th .totalW {padding:0px 20px 0px 0px;}
.board-write th .totalW li {color:#2d2d2d; height:25px; font-size:13px; line-height:25px; position:relative; padding-right:120px;}
.board-write th .totalW li span { display:block; position:absolute; right:0px; top:0px; color:#2d2d2d;}
.board-write th .totalW li.total { height:30px; color:#81308d; font-size:18px; line-height:30px; margin-top:16px; padding-top:10px; border-top:1px solid #d1d1d1;}
.board-write th .totalW li.total span {top:10px; color:#81308d;}


/* 갤러리 게시판 */
.photo_listW {clear:both; width:100%;}
.photo_listW ul {margin-left:-31px; overflow:hidden;}
.photo_listW li {width:258px; height:255px; float:left; margin-left:31px;}
.photo_listW li .photo {margin-bottom:5px; display:block; border:1px solid #cccccc;}
.photo_listW li .txt {display:block; overflow:hidden; height:40px; line-height:20px; text-align:left;}

.photo_listW .event_list {margin-left:-18px;}
.photo_listW .event_list li {width:520px; height:150px; float:left; padding-bottom:15px; margin-left:18px;}

.photo_listW ul.reference { margin-left:0px; padding-bottom:25px;}

.photo_listW ul.reference li {width:206px; height:227px; float:left; margin:25px 0px 0px 33px; border:1px solid #cccccc;}
.photo_listW ul.reference li .photo {margin-bottom:0px; border:none; border-bottom:1px solid #cccccc;}
.photo_listW ul.reference li .txt {display:block; overflow:hidden; height:44px; line-height:44px; padding:0px 10px; font-size:15px; color:#000; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}
.photo_listW ul.reference li .txt_line { border-top:1px solid #ccc; line-height:22px; height:22px; padding:0px 0px 0px 70px; position:relative; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}
.photo_listW ul.reference li .txt_line .name { color:#000; position:absolute; left:0px; top:0px; width:60px; text-align:center; background:#f9f9fa; line-height:22px; height:22px; border-right:1px solid #ccc; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}


.photo_listW ul.reference_tmp { margin-left:0px; padding-bottom:25px;}
.photo_listW ul.reference_tmp li {width:206px; height:273px; float:left; margin:25px 0px 0px 33px; border:1px solid #cccccc;}
.photo_listW ul.reference_tmp li .photo {margin-bottom:0px; border:none; border-bottom:1px solid #cccccc;}
.photo_listW ul.reference_tmp li .txt {display:block; overflow:hidden; height:44px; line-height:44px; padding:0px 10px; font-size:15px; color:#000; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}
.photo_listW ul.reference_tmp li .txt_line { border-top:1px solid #ccc; line-height:22px; height:22px; padding:0px 0px 0px 70px; position:relative; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}
.photo_listW ul.reference_tmp li .txt_line .name { color:#000; position:absolute; left:0px; top:0px; width:60px; text-align:center; background:#f9f9fa; line-height:22px; height:22px; border-right:1px solid #ccc; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}


.photo_viewW {padding:20px; padding-right:0px; margin-bottom:20px; background:#f3f3f3; position:relative;}
.photo_viewW .tt {padding-right:100px; font-size:18px; color:#555555; line-height:20px; font-family:400; padding-bottom:20px;}
.photo_viewW .date { position:absolute; right:20px; top:18px;}
.photo_viewW .photoW { overflow:hidden;}
.photo_viewW .photoW .photo {float:left; width:408px; height:233px; border:1px solid #dbdbdb; border-right:none;}
.photo_viewW .photoW .tableW {float:left; width:390px;}
.photo_viewW .photoW .table {width:100%;}
.photo_viewW .table tbody th {background:#9d9c9c; border:1px solid #dbdbdb; line-height:18px; color:#fff; font-size:14px; font-weight:300; padding:10px 0 10px 15px; text-align:left;}
.photo_viewW .table tbody td {color:#555555; font-size:15px; line-height:18px; background:#fff; border:1px solid #dbdbdb; padding:10px 0 10px 10px;}

.essential {color:#1da9d8; font-weight:bold; vertical-align:middle;}

/* 데이터 테이블 */
table.board-table { margin-top:10px; width:100%; border-bottom:1px solid #a1a1a1; border-top:1px solid #505050;}
table.board-table thead th {background:#f4f4f4; padding:11px 0 10px; color:#393939; font-size:13px; color:#2d2d2d; border-top:1px solid #505050; border-bottom:1px solid #ececec; border-left:1px solid #d3d3d3; border-right:1px solid #d3d3d3;}
table.board-table thead th.purple {background:#81308d; color:#fff; border:1px solid #81308d;}

table.board-table thead th.purple:last-child {border-right:1px solid #81308d;}
table.board-table thead th.purple:first-child {border-left:1px solid #81308d;}
table.board-table td {border:1px solid #e0e0e0; border-bottom:none; padding:15px 10px 14px 10px; font-size:13px;}
table.board-table td.total_purple {background:#ececec; text-align:right; font-size:18px; font-family:nGothicB; color:#81308d; padding-right:14px;}

table.board-table tbody th {background: #ececec; border-bottom:1px solid #d3d3d3; line-height:160%; color:#2d2d2d; font-size:13px; padding:12px 0 11px 20px; text-align:left;}
table.board-table tbody th.bg_no {background:none;}
table.board-table tbody th.tc {text-align:center; padding:12px 0 11px 0px;}

table.board-table tbody tr:first-child th {border-top: 1px solid #505050;}
table.board-table tbody tr:first-child td {border-top: 1px solid #505050;}
table.board-table tbody tr:last-child th {border-bottom: 1px solid #a1a1a1;}
table.board-table tbody td {border-top:1px solid #d3d3d3; line-height:20px;}
table.no_line tbody td {border-right:none; border-top: 1px solid #e0e0e0; border-left:none;}
table.no_line tbody td.bg {background:#f0f0f0; text-align:center;}

table.board-table td img {vertical-align:middle;}
table.board-table tfoot td {background:#f4f4f4;}
table.board-table tfoot tr:last-child td {border-bottom:1px solid #a1a1a1; background:#f0f0f0;}


table.board-table td div.won ul {overflow:hidden; width:100%;}
table.board-table td div.won ul li { display:inline-block; zoom:1; *display:inline; width:30%;}
table.board-table td div.won ul li.a_won {text-align:right; font-size:18px; color:#565656; font-family:nGothicB; background: url(/img/common/arrow.gif) no-repeat right center; padding-right: 27px; text-decoration:line-through;}
table.board-table td div.won ul li.b_won {text-align:right; width:110px; font-size: 18px;  color: #1baaca; font-family:nGothicB;}
table.board-table td div.won ul li.c_won {text-align:left; font-size:13px;  color: #565656;}


.tableW .table_style {border-top:1px solid #505050;}
.tableW .table_style thead tr th {background-color:#e0e0e0; font-size:13px; border:1px solid #e0e0e0; border-top:1px solid #505050; color:#3b3b3b;}
.tableW .table_style tbody tr th {color:#565656;}
.tableW .table_style tbody tr td { text-align:center; padding:10px 0px;}
.tableW .table_style tbody tr:last-child th {border-bottom:1px solid #a1a1a1;}
.tableW .table_style tbody tr:last-child td {border-bottom:1px solid #a1a1a1;}

.table_style {clear: both; width:100%; border-top:2px solid #5f6062;}
.table_style thead tr th {background-color: #686868; font-size:13px; border:1px solid #686868; color: #fff; padding:10px 0 11px;}
.table_style tbody tr th {background-color: #f0f0f0; border:1px solid #dddddd; padding:12px 0 11px; color:#3c3c3c; font-size:13px;}
.table_style tbody tr td {border:1px solid #dddddd; line-height:20px; color:#575757; font-size:13px; padding:10px 0px 10px 13px;}
.layers .table_style tbody tr td {padding:23px 0px 20px 22px;}
#Ne_Popw .layers .table_style tbody tr td {padding:13px 10px 13px 10px;}
.table_style tbody tr td.subject {padding-left:20px; padding-right: 10px; text-align: left; word-break: break-all;}


.st_thead thead tr th {background-color:#ececec; color:#3b3b3b; border:1px solid #dddddd;}
.st_thead tbody tr th {background-color:#f4f4f4;}


.table_style1 {clear:both; width:100%; font-size:12px;}
.table_style1 thead tr th {background-color:#727272; color: #fff; padding:10px 0 11px;}
.table_style1 tbody tr th {background-color: #f3f3f3; border-bottom:1px solid #e0e0e0; padding:10px 0;}
.table_style1 tbody tr:last-child th {border-bottom:1px solid #a1a1a1;}
.table_style1 tbody tr:last-child td {border-bottom:1px solid #a1a1a1;}
.table_style1 tbody tr td {	border-bottom:1px solid #e0e0e0; line-height:20px; padding:10px 0px 10px 10px;}
.table_style1 tbody tr td.subject {padding-left:10px; padding-right:10px; text-align:left; word-break:break-all;}
.table_style1 tbody tr.tr_color td {background:#fef9f9;}
.table_style1 tbody tr .left_line {border-left:1px solid #e3e4e7;}
.table_style1 tbody tr td.gray {color:#a4a4a4;}
.bg_no {background:none;}

.table_style1.faq tr.bg a { color:#333;}
.table_style1.faq tr.bg2 td {background-color: #f6f6f6;}
.table_style1.faq tr.open td {background-color: #e2e2e2;}

.table_style2 {clear:both; width:100%; border-top:2px solid #dedbd9;}
.table_style2 tr th {background-color:#f8f7f5; border:1px solid #dedbd9; padding:12px 0px 11px 15px; border-left:none; text-align:left;}
.table_style2 tr td {background-color:#f8f7f5; border:1px solid #dedbd9; line-height:20px; padding:10px 15px 10px 0px;  border-right:none; text-align:right;}
.table_style2 tr td.subject {padding-left:20px; padding-right:10px; text-align:left; word-break:break-all;}
.table_style2 tfoot tr td {background-color:#fff;}
.table_style2 tfoot tr th {background-color:#fff;}

.table_style3 {clear:both; width:100%; letter-spacing:-1px;}
.table_style3 thead tr th {background-color:#effcff; border:1px solid #e5e5e5; border-top:none; color:#565656; font-size:13px; padding:10px 0 11px;}
.table_style3 thead tr th:first-child {border-left:1px solid #e5e5e5;}
.table_style3 thead tr th.gray {background:#9f9f9f; color:#fff;}
.table_style3 thead tr th.red {background:#ee5340; color:#fff;}
.table_style3 tbody tr th {background-color:#effcff; border:1px solid #e5e5e5; padding:12px 5px 11px 5px;}
.table_style3 tbody tr td {border:1px solid #e5e5e5; line-height:20px; padding:13px 10px 13px 10px;}
.table_style3 tbody tr td.subject {padding-left:20px; padding-right:10px; text-align:left; word-break:break-all;}
.table_style3 tbody tr td.red {color:#ee5340;}

.table_style4 {clear:both; width:100%; border-top:1px solid #000;}
.table_style4 thead tr th {background-color:#f9f9fa; border-bottom:1px solid #cccccc; font-size:13px; color:#000; padding:5px;}
.table_style4 tbody tr th {background-color:#f9f9fa; border-bottom:1px solid #cccccc; padding:5px;}
.table_style4 tbody tr td {border-bottom:1px solid #cccccc; line-height:20px; padding:5px; text-align:center; color:#333;}


.table_style5 {clear:both; width:100%;}
.table_style5 thead tr th {background-color:#f9f9fa; border:1px solid #cccccc;  font-size:13px; color:#fff; padding:10px 0 11px;}
.table_style5 tbody tr th {border:1px solid #cccccc; color:#000; background:#f9f9fa; line-height:20px; padding:5px; text-align:center;}
.table_style5 tbody tr td {border:1px solid #cccccc; background:#fff; line-height:20px; padding:5px; text-align:center; color:#333;}


.table_style6 {clear:both; width:100%; table-layout:fixed;}
.table_style6 thead tr th {border:none; color:#fff; padding-bottom:4px; background:url(/img/main/bg_td.gif) repeat-x left bottom;}
.table_style6 thead tr th .block {background-color:#222222; padding:10px 0px;}
.table_style6 tbody tr td {border:none; padding:0px; line-height:20px; text-align:center; padding:2px 0px 4px 0px; background:url(/img/main/bg_td.gif) repeat-x left bottom;}
.table_style6 tbody tr td .block {background:#fff; border:1px solid #eae8e8; border-left:0px; border-right:0px; padding:9px 5px;}
.table_style6 tbody tr td.subject .block {width:100%; text-align:left; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}

.grade_table {clear:both; width:100%; table-layout:fixed;}
.grade_table tr th {border:1px solid #cccccc; color:#000; background:#e6e5e6; text-align:center; padding:10px 15px;}
.grade_table tr td {border:1px solid #cccccc; padding:0px; line-height:20px; padding:15px; text-align:left; background:#fff; vertical-align: top;}
.grade_table tr .tl {text-align:left !important; padding-left:20px;}



.post_table {clear:both; width:100%;}
.post_table tbody tr td {border-left:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0; text-align:center; line-height:20px; padding:10px 10px 10px 10px;}
.post_table tbody tr td:first-child {border-left:none;}

.post_table tbody tr td.tc {border:1px solid #c4c4c4; background:#fff; line-height:20px; padding:10px 0px;}

.clean_table {clear:both; width:100%;}
.clean_table.tl > tbody > tr > th { text-align:left}
.clean_table > tbody > tr > th {padding:11px 10px 4px 0px; color:#000000; font-size:14px; text-align:right; box-sizing:border-box; -moz-box-size:border-box; vertical-align:top;}
.clean_table > tbody > tr > td {padding:7px 10px; box-sizing:border-box; -moz-box-size:border-box; line-height:25px; text-align:left;}
.clean_table .board-write th {font-size:13px;  text-align:right; padding-left:0px;}

/* 댓글 쓰기 */

.commont_wrap {margin-top:40px;} 
.commont_wrap .commenttit {font-family:nGothicB; color:#565656; padding-bottom:5px;}
.commont_wrap .userinput {background:#f4f4f4; padding:25px; border-bottom:1px solid #d3d3d3; border-top:1px solid #d3d3d3;}
.commont_wrap .userinput .textareaW {overflow:hidden;}
.commont_wrap .userinput .textareaW .area {width:590px; float:left;}
.commont_wrap .userinput .textareaW .btn {text-align:center; float:right;}
.commont_wrap .userinput .textareaW .btn a { display:block; width:80px; height:70px; line-height:68px; color:#fff; font-family:nGothicB; background:#84308e;}
.comment_list li.list {padding:20px 0px; border-top:1px dotted #d3d3d3;}
.comment_list li:first-child.list {padding-top:0px; border-top:none;}
.comment_list li.list .comment {position:relative;}
.comment_list li.list .comment .name {font-family:nGothicB; color:#4c87ab; line-height:20px; padding-bottom:3px;}
.comment_list li.list .comment .comment-txt { line-height:150%;}
.comment_list li.list a.del {position:absolute; display:block; right:0px; top:0px;}

.xans-board-commentwrite {margin:20px 0 0; padding:20px; border:1px solid #e9e9e9; background-color:#fbfafa; color:#353535; font-size:12px;}
.xans-board-commentwrite .view {position:relative; margin:10px 0 0; padding:0 95px 0 0;}
.xans-board-commentwrite textarea {width:100%; height:52px; margin:0 5px 0 0;}
.xans-board-commentwrite .submit {position:absolute; top:0; right:0; display:inline-block; width:80px; font-family:nGothicB; border:1px solid #000; color:#000; background:#fff; text-align:center; height:20px; line-height:20px; padding:16px 0px; border-radius:3px;}
.xans-board-commentwrite strong {font-size:13px; margin:5px 0 15px 0;}
.xans-board-commentform {padding:5px 20px 20px; border:1px solid #fff; border-top:1px solid #e9e9e9; background-color:#fbfafa; color:#353535; display:none; font-size:12px;}
.xans-board-commentform p {margin:10px 0 0;}
.xans-board-commentform .view {position:relative; margin:10px 0 0; padding:0 180px 0 0;}
.xans-board-commentform .submit {position:absolute; top:0; right:0;}
.xans-board-commentform .submit a {display:inline-block; width:80px; font-family:nGothicB; border:1px solid #000; color:#000; background:#fff; text-align:center; height:20px; line-height:20px; padding:16px 0px; border-radius:3px;}
.xans-board-commentform textarea {width:100%; height:54px; margin:0 5px 0 0;}

.pw_box {border:1px solid #e4e4e4; padding:30px;}
.pw_box h3 {font-size:23px; text-align:center; font-family:nGothicB; color:#000; line-height:30px; padding-bottom:30px;}
.pw_box .txt {font-size:13px; text-align:center; color:#666; line-height:20px; padding-bottom:30px;}
.pw_box .txt strong {color:#de2b2f;}
.pw_box form {text-align:center;}
.pw_box form label { display:inline-block; zoom:1; *display:inline; padding-left:11px; background:url(/img/common/roll_right.png) no-repeat left center; font-family:nGothicB; font-size:14px;}
.pw_box form .input {width:200px;}
.re_wrap { border:1px solid #d9d9d9; margin-top:30px;}
.re_wrap .view_bg3:first-child {border-top:none;}
.view_bg3 {font-size:13px; border-top:1px solid #f4f4f4;}
.view_bg3 .name {display:block !important;	padding:20px 150px 18px 200px !important; position:relative;	font-size:13px;	color:#666666;}
.view_bg3 .name strong {font-size:14px;	color:#000000; position:absolute; display:block; text-align:center; left:20px; top:20px;}
.view_bg3 .btns .btnTiny span { border-radius:12px; border:1px solid #bfbfbf; font-size:11px; height:20px; line-height:21px; padding:0px 15px;}
.view_bg3 .btns .btnTiny { border-bottom:none;}
.view_bg3 .date {font-size:13px; color:#666666; position:absolute; right:20px; top:20px;}

/* 댓글 리스트 */
table.comment-list {margin-top:10px; width:100%;}
table.comment-list td {border-bottom:1px solid #d9d9d9; padding:11px 0 9px; text-align: center;}
table.comment-list td.subject {text-align:left; padding-left:10px;}
table.comment-list td.subject a {line-height:14px; padding-right:10px;}
table.comment-list td img {vertical-align:middle;}

/* 첨부파일 버튼 디자인 */
.file_input {padding-right:85px; position:relative;}
.file_input label { position:absolute; right:0px; top:0px; cursor:pointer; display:inline-block; overflow:hidden; width:80px; height:28px; border:1px solid #999999; background:#f2f2f2; color:#666666; font-size:14px; text-align:center; line-height:28px;}.file_input label input {position:absolute; width:0; height:0; overflow:hidden; padding:0px; border:none;}
.file_input label input {position:absolute; width:0; height:0; overflow:hidden; padding:0px; border:none;}
.file_input > input {color:#737070; height:31px;line-height:28px; padding:1px 3px 0 3px; background-color: #ffffff; border: solid 1px #cccccc; width:100%;}
#file_add li.pt5, #option_add li.pt5, #file_add_img li.pt5 {/*padding-right: 60px;*/position:relative;}
.input_del {position: absolute; right: 0px; top: 5px; }
.add_file {position:absolute; right:0px; top:3px;}


/*list_btn*/
.list_btn {text-align:right;}
.SubmitW {
    border-top: 3px solid #424242;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
}



