@charset "utf-8";
/* CSS Document */
/* ------------------------------------------------------------
 * Name      : layout.css    
 * Desc      : page layout 
 * Created   : 
 * Updated   : 
 ------------------------------------------------------------ */

/*
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
*/

/*
* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess
 */
/*
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
 }
*/

body {font-size:12px;font-family:Noto Sans KR,malgun gothic,; 
overflow-y:scroll; overflow-x: scroll;
background-color:#fff; margin:0; padding:0;}
input,select,textarea {font-size:16px;font-family:malgun gothic;}
select {font-size:15px;font-family:malgun gothic;}
label {cursor:pointer;}
a {text-decoration:none;color:#000;}
a:hover {color:#666;}
a:focus {border: none; outline:none;}
img {border: none;}
li, ul, ol {list-style:none;}
a, img, input {selector-dummy: expression(this.hideFocus=true);} 

.clear {clear:both;}

#qwrap {width:100%;  padding-bottom:30%; background:#8aa0c4; }
#qwrapw {width:100%;  padding-bottom:30%; background:#e1e1e1;}
#qbtn{width:100%;}
#qbtn{height:15%; text-align:center}
/*#qbtn li {width:40%; float:left; padding:3%}*/
#qbtn li {width:44%; float:left; padding:3%}
.qclose_btn{width:100%; height:100%; cursor:pointer; display:block;
			box-sizing:border-box; border-radius:10px; 
			background-color:#b2c1db; color:#fff;
			font-size:20px; font-weight:400;
			text-align:center; padding:15px; margin-top:13px;
			}
.qclose_btn a { text-decoration:none; color:#fff;
			}
.qnext_btn{width:100%; height:100%; cursor:pointer; display:block;
			box-sizing:border-box; border-radius:10px; 
			background-color:#fff; color:#253a5b;
			font-size:20px; font-weight:600;
			text-align:center; padding:15px; margin-top:13px;
			}

.qnext_btn a { text-decoration:none; color:#253a5b;
			}

.qnext_btn2{width:100%; height:100%; cursor:pointer; display:block;
			box-sizing:border-box; border-radius:10px; 
			background-color:#8aa0c4; color:#fff;
			font-size:20px; font-weight:600;
			text-align:center; padding:15px; margin-top:13px;
			}

.qnext_btn2 a { text-decoration:none; color:#fff;
			}

.qfin_btn{width:100%; height:100%; cursor:pointer; display:block;
			box-sizing:border-box; border-radius:10px; 
			background-color:#ed1c24; color:#fff;
			font-size:20px; font-weight:600;
			text-align:center; padding:15px; margin-top:13px;
			}
.qfin_btn a { text-decoration:none; color:#fff;
			}
			
.qprev_btn{width:100%; height:100%; cursor:pointer; display:block;
			box-sizing:border-box; border-radius:10px; 
			background-color:#c7c7c7; color:#fff;
			font-size:20px; font-weight:400;
			text-align:center; padding:15px; margin-top:13px;
			}
.qprev_btn a { text-decoration:none; color:#fff;
			}						
			
			
.qclose { width:4%; padding:2%; float:right; cursor:pointer; display:block;}  
.qclose img{ width:100%; height:auto;} 
/*.qlogo { width:50%; margin:0 auto; padding-top:30%}*/ 
.qlogo { width:50%; margin:0 auto; padding-top:20%}
.qlogo img{ width:100%; height:auto;} 
/*.qmaintxt{ width:70%; margin:0 auto;font-size:32px; font-weight:100; color:#fff; text-align:center;
			margin-top:20%;line-height: 40px;} */
.qmaintxt{ width:70%; margin:0 auto;font-size:30px; font-weight:100; color:#fff; text-align:center; padding:10%; line-height:40px;}			
.qmaintxt span{ font-weight:600;} 

#qstep {width:100%; margin:0 auto; margin-top:0%; padding-top:-30%}
.circle {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.qinput{width:90%; margin:0 auto;}
/*.qtxt{width:90%; font-size:22px; font-weight:400; color:#2e2e2e; text-align:left;
	  margin-top:5%; padding-left:5%}*/
.qtxt{width:90%; font-size:21px; font-weight:400; color:#2e2e2e; text-align:left;
   margin-top:5%; padding-left:5%; line-height:30px;}	  
.qtxt span{font-size:15px; font-weight:300; color:#ed1c24;} 
.qtxt2{width:90%; font-size:16px; font-weight:400; color:#2e2e2e; text-align:left;
	  margin-top:5%; padding-left:5%}
.qinput{width:90%;margin:0 auto;}	

#inputbox { width:100%; height:60px; box-sizing:border-box; 
			padding:20px 20px 15px 20px; border:1px solid #f1f0f1; margin-top:1%;
		  }
#inputbox {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,fbfbfa+23,ffffff+100 */
			background: #f4f4f4; /* Old browsers */
			background: -moz-linear-gradient(top, #f4f4f4 0%, #fbfbfa 23%, #ffffff 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #f4f4f4 0%,#fbfbfa 23%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #f4f4f4 0%,#fbfbfa 23%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
	
.hiddenbox { background:#CCC; width:100%; height:200px; padding:20px 20px 15px 20px; border:0; 
				box-sizing:border-box; margin-top:5%; overflow:auto;}			
.qtextbox { background:#CCC; width:100%; height:200px; padding:20px 20px 15px 20px; border:0; 
				box-sizing:border-box; margin-top:5%; overflow:auto;}			
						
			
.qradio { display:block; width:100%; margin:0 auto; padding-left:5%;}
.qradio td{  color: #646464;  display: block;  position: relative;  float: left;  width: 100%; padding-right:5px; height: auto;}
.qradio td input[type=radio]{ position: absolute;   visibility: hidden; }
.qradio td label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 12pt;
  padding: 5px 5px 5px 40px;
  margin: 7px auto;
  height: 10px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  z-index:1;
}

.qradio td .check{
  display: block;
  position: absolute;
  border: 5px solid #d1d1d1;
  border-radius: 100%;
  height: 11px;
  width: 11px;
  top: 30%;
  left: 0%;
	z-index: 0;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}


.qradio td .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 9px;
  width: 9px;
  top: 1px;
	left: 1px;
  margin: auto;

}



input[type=radio]:checked ~ .check {
  border: 5px solid #8aa0c4;
}

input[type=radio]:checked ~ .check::before{
  background: #8aa0c4;
}

input[type=radio]:checked ~ label{
  color: #8aa0c4;  font-weight: 400;
}


#qselect{font-size:16px; color:#646464;}



#cnheader {position:absolute; width:100%; height:60px; left:50%; top:0; margin-left:-50%; }

#cnlogo {position:absolute; left:50%; margin-left:-50%; padding-left:20px; top:13px; }
#cnlogo img {width:70%; height:auto; }

.cmenu {position:absolute; width:25px; height:auto; top: 25px; right:20px;}
.cmenuimg {width:20px; height:auto;}


.wrap_contents {width:100%; box-sizing:border-box; margin:0 auto; padding:0; margin-top:60px; }



#cnfooter {width:100%; box-sizing:border-box; padding:20px; background-color:#3f3f3f; color:#fff;}

.cnfootl {float:left; width:70%; box-sizing:border-box; line-height:180%; font-size:12px; }
.cnfootl c {font-size:10px;}
.cnfootr {float:right; width:30%; box-sizing:border-box; padding-top:17px;}
.cnfootr img {float:right; width:25px; height:auto; margin-left:10px;}


#cmenu {}
#cmenu .ui-icon {display:none; }
#cmenu .ui-accordion-header {
   position:absolute;
   top: 25px;
   right:20px;
   background: transparent;	
   border:none;
   border-radius:0px;
   }

#cmenu .ui-accordion-header.ui-state-default{
   position:absolute;
   top: 25px;
   right:20px;
   background: transparent;
  }  

#cmenu .ui-accordion-content {
   position:absolute;
   top:60px;
   left:0;
   width:100%;
   border:none;
   border-radius:0px;
   background-color:rgba(0,0,0,0.75);
   z-index:999;
   margin:0;
   padding:15px 0;
}
#cmenu .ui-state-focus{
   position:absolute;
   top: 25px;
   right:20px;	
   outline: none;
}

#cmenu div {margin:0; padding:0; }
#cmenu ul {
margin:0; padding:0; 
list-style-type:none;
font-weight:300;
font-size:14px; 
color:#fff;

}
#cmenu ul li {
height:25px;
padding:10px 0 0 20px;

}
#cmenu ul li a{color:#fff;}
 

 
.main_head {height:230px; margin:0 auto; width:100%; box-sizing:border-box; }
.main_head {background:url('/img/mobile/event/landing/landingGifticon/main_bg1.png') no-repeat; background-size:cover; background-position: center; }
.main_head {padding:0 20px; padding-top:70px;}

.cntxt1 {font-size:32px; font-weight:100; color:#fff;}
.cntxt2 {font-size:10px; font-weight:500; color:#fff;}
.cntxt3 {font-size:18px; font-weight:500;}
.cntxt4 {font-size:12px; font-weight:400;}
.cntxt5 {font-size:15px; font-weight:500;}
.cntxt6 {font-size:10px; font-weight:400;}

.cntxt7 {font-size:17px; font-weight:100; color:#fff;}
.cntxt8 {font-size:16px; font-weight:300; }
.cntxt9 {font-size:32px; font-weight:300; line-height:120%; }
.cntxt10 {font-size:14px; font-weight:300; }

.cntxt10 c {font-weight:500;}
.cntxt10 d {line-height:120% !important;}

.cntxt11 {font-size:20px; font-weight:300; }
.cntxt11 c{font-size:20px; font-weight:500; }
.cntxt12 {font-size:18px; font-weight:600;}
.cntxt13 {font-size:16px; font-weight:500;}
.cntxt13 c {font-size:20px; font-weight:600; color:#fff;}
.cntxt15 {font-size:18px; font-weight:500; color:#fff;}
.cntxt16 {font-size:20px; font-weight:500; color:#f6b939;}
.cntxt17 {font-size:18px; font-weight:500; color:#fff;}



.mktxt1 {float:left; width:20.5%; text-align:center; margin-right:3%; font-size:14px;} 
 
.cnbtn1 {width:130px; height:34px; box-sizing:border-box; border-radius:5px; background-color:#000; color:#fff; text-align:center; padding-top:8px; margin-top:13px;}

.main_content {padding:30px 20px;} 
 
.cnprbox {border:1px solid #eee; margin-top:20px;}
.cnprboxt { padding:13px 18px 15px 18px;} 
 


.event_content {padding:30px 20px 20px 20px;}
.eventbox {margin-top:20px;}

.mediabtn1 {width:100%; height:47px; box-sizing:border-box; border-radius:10px; background-color:#393939; color:#fff; font-size:16px; font-weight:500; text-align:center; padding:13px; margin-top:13px;}
.mediabtn2 {width:30%; height:47px; box-sizing:border-box; border-radius:10px; background-color:#f6b939; color:#3c3836; font-size:18px; font-weight:500; text-align:center; padding:10px; margin-top:15px;}
.mediabox1 {margin-top:20px; padding:30px 20px 10px 20px; background-color:#faf8f8; border:1px solid #eee;}
.mediabox3 {margin-top:20px; padding:30px 20px 30px 20px; background-color:#faf8f8; border:1px solid #eee;}
.mediabox2 {margin-top:20px;}
.mediabox4 {margin-top:20px; padding:30px 20px 20px 20px; background:url('/img/mobile/event/landing/mediareport/media_bg.png')no-repeat; background-size:cover; background-position: center;}
.mediatable {width:100%; margin-top:20px; }

 
.intro_head {height:555px; margin:0 auto; width:100%; box-sizing:border-box; text-align:center;}  
.intro_head {background:url('/img/mobile/event/landing/landingGifticon/intro_bg1.png') no-repeat; background-size:cover; background-position: center; }
.intro_head {padding:0 20px; padding-top:205px;}
 
.intro_head2 {height:220px; margin:0 auto; width:100%; box-sizing:border-box; text-align:center; margin-top:40px;}  
.intro_head2 {background:url('/img/mobile/event/landing/landingGifticon/intro_bg2.png') no-repeat; background-size:cover; background-position: center; }
.intro_head2 {padding:0 20px; padding-top:75px;}

.intro_head3 {height:321px; margin:0 auto; width:100%; box-sizing:border-box; text-align:center; margin-top:40px;}  
.intro_head3 {background:url('/img/mobile/event/landing/landingGifticon/intro_bg3.png') no-repeat; background-size:cover; background-position: center; }
.intro_head3 {padding:0 20px; padding-top:125px;}

.intro_head4 {height:390px; margin:0 auto; width:100%; box-sizing:border-box; text-align:center; margin-top:30px;}  
.intro_head4 {background:url('/img/mobile/event/landing/landingGifticon/intro_bg4.png') no-repeat; background-size:cover; background-position: center; }
.intro_head4 {padding:0 20px; padding-top:35px;}
 
.partner_head {height:555px; margin:0 auto; width:100%; box-sizing:border-box; text-align:center;}  
.partner_head {background:url('/img/mobile/event/landing/landingGifticon/partner_bg1.png') no-repeat; background-size:cover; background-position: center; }
.partner_head {padding:0 20px; padding-top:190px;}
 
.partner_head2 {height:260px; margin:0 auto; width:100%; box-sizing:border-box; text-align:center; margin-top:40px;}  
.partner_head2 {background:url('/img/mobile/event/landing/landingGifticon/partner_bg2.png') no-repeat; background-size:cover; background-position: center; }
.partner_head2 {padding:0 20px; padding-top:90px;}

.partner_head3 {height:283px; margin:0 auto; width:100%; box-sizing:border-box; text-align:center; margin-top:40px;}  
.partner_head3 {background:url('/img/mobile/event/landing/landingGifticon/partner_bg3.png') no-repeat; background-size:cover; background-position: center; }
.partner_head3 {padding:0 20px; padding-top:90px;}

.partner_head4 {height:390px; margin:0 auto; width:100%; box-sizing:border-box; text-align:center; margin-top:30px;}  
.partner_head4 {background:url('/img/mobile/event/landing/landingGifticon/partner_bg4.png') no-repeat; background-size:cover; background-position: center; }
.partner_head4 {padding:0 20px; padding-top:35px;}
 

.login_head {padding:25px 20px 0 20px; }
.sns_head {padding:0 20px; margin-top:25px;}

.loginbox {width:100%; box-sizing:border-box; padding:10px 20px;}
 
.btn_login {width:100%; height:45px; box-sizing:border-box; padding-top:12px; text-align:center; background-color:#000; color:#fff; font-size:13px; font-weight:400;}

.btn_join {width:100%; height:45px; box-sizing:border-box; padding-top:12px; text-align:center; background-color:#5b5b5b; color:#fff; font-size:13px; font-weight:400;}

.sns_content {padding:0 20px; margin-top:20px;}

.btn_fb {width:100%; height:45px; box-sizing:border-box; padding-top:12px; text-align:center; background-color:#38578e; color:#fff; font-size:13px; font-weight:400;}
.btn_naver {width:100%; height:45px; box-sizing:border-box; padding-top:12px; text-align:center; background-color:#54b02e; color:#fff; font-size:13px; font-weight:400;}
.btn_gg {width:100%; height:45px; box-sizing:border-box; padding-top:12px; text-align:center; background-color:#e94635; color:#fff; font-size:13px; font-weight:400;}

.img_fb {float:right; width:20px; height:auto; margin-right:20px;}
.img_naver {float:right; width:20px; height:auto; margin-right:20px;}
.img_gg {float:right; width:20px; height:auto; margin-right:20px;}

.cnsnsl {float:left; width:25%; }
.cnsnsr {float:left; height:15px; box-sizing:border-box; padding-left:20px; border-left:1px solid #fff; margin-top:3px; }

.giftbox {width:100%; box-sizing:border-box;background-color:#f4f4f4; padding:10px 20px 40px 20px; }
.giftboxin {width:100%;}

.giftboxt1 {font-size:12px; font-weight:400; padding:0px 20px;} 
 
.mkbox {width:90%; margin:0 auto; margin-top:40px; padding-left:3%;} 
.cpbox p{text-align:center;} 
 
.mkquat {width:16px; height:auto; margin:15px 0;} 

.telbox {width:100%; box-sizing:border-box; padding:25px 20px;}

.telt1 {float:left; width:40%; font-size:12px; font-weight:500; margin:10px 0 0 20px;}
.telt2 {float:right; font-size:10px; font-weight:400; margin:12px 5px 0 0;}
.telt3 {float:left; font-size:12px; font-weight:700; margin:8px 0 0 5px;}

.btn_tel {float:right; width:105px; height:36px; box-sizing:border-box; background-color:#fbd836; color:#000; }
.btn_tel img {float:left; width:20px; height:auto; margin:8px 0 0 10px;}

.btn_partner {width:135px; height:60px; margin:0 auto; box-sizing:border-box; border-radius:10px; background-color:#ffde00; color:#96979a; padding-top:10px; }
.btn_partner {font-size:15px; text-align:center; font-weight:500;}
.btn_partner c {font-size:11px; font-weight:100;}

.btn_partner2 {width:135px; height:60px; margin:0 auto; box-sizing:border-box; border-radius:10px; background-color:#4d4d4d; color:#ffde00; padding-top:10px; }
.btn_partner2 {font-size:15px; text-align:center; font-weight:500;}
.btn_partner2 c {font-size:11px; font-weight:100;}

.cnbtu {border-top:1px solid #000;}
.cnbtu1 {border-top:1px solid #d7d7d7; padding:20px 20px 15px 0px; }
.cnbtu2 {border-top:1px solid #f6b939; padding:20px 20px 0px 0px; }


.cntable 
.cntabletr {height:50px;}
.cntabletr2 {height:30px;}

.cnttd1 {width:50px;}
.cnttd2 {width:70px;}

.iboxt1 {font-size:15px; font-weight:600;}
.iboxt2 {font-size:12px; font-weight:400;}
.iboxt3 {font-size:10px; font-weight:400; letter-spacing:-0.075em;}
.iboxt4 {font-size:10px; font-weight:400; letter-spacing:-0.075em; }

.iboxin1 {width:100%; height:40px; box-sizing:border-box; padding:0 20px;}
.iboxin2 {width:100%; height:40px; box-sizing:border-box; border:1px solid #f1f0f1; padding:0 20px;}
.iboxin3 {width:90%; height:40px; box-sizing:border-box; border:1px solid #f1f0f1; margin-left:10%; padding:0 20px;}
.iboxin4 {width:60%; height:40px; box-sizing:border-box; border:1px solid #f1f0f1; padding:0 20px;}
.iboxin5 {width:50%; height:40px; box-sizing:border-box; border:1px solid #f1f0f1; padding:0 20px;}

.btn_input {width:85px; height:35px; margin:0 auto; box-sizing:border-box; background-color:#393939; color:#fff; padding-top:8px; }
.btn_input {font-size:12px; text-align:center; font-weight:400;}

.btn_confirm {float:right; width:38%; height:40px; box-sizing:border-box; padding-top:12px; text-align:center; background-color:#646464; color:#fff; font-size:11px; font-weight:400; margin-left:2%; margin-top:10px;}
.btn_confirm2 {float:right; width:23%; height:40px; box-sizing:border-box; padding-top:12px; text-align:center; background-color:#646464; color:#fff; font-size:11px; font-weight:400; margin-left:2%; margin-top:10px;}

.btn_priv {float:right; width:18%; height:20px; box-sizing:border-box; padding-top:3px; text-align:center; background-color:#f0f0f0; color:#797571; border:1px solid #d4d4d4; font-size:8px; font-weight:400; margin-left:1%; margin-top:0px; letter-spacing:-0.1em;}

.pcbox {width:100%; box-sizing:border-box; padding:15px 20px; background-color:#4d4d4d;}

.pct1 {float:left; font-size:13px; font-weight:500; margin:10px 0 0 0; color:#fbd836;}
.pct1 c {font-size:10px; color:#fff;}
.pct2 {float:right; }
.pct2 img {width:20px; height:auto; margin-top:15px;}

.cnvl4100 {border-right:1px solid #000; height:40px; width:50%; margin:0px 0 0 0;}
.cnvl3100 {border-right:1px solid #fff; height:40px; width:50%; margin:-40px 0 0 0;}
.cnvl2100 {border-right:1px solid #000; height:50px; width:50%; margin:20px 0 0 0;}
.cnvl100 {border-right:1px solid #fff; height:50px; width:50%; margin:15px 0;}
 
.cntcw {color:#fff;} 
.cntcy {color:#ffde00;}

.cntac {text-align:center;}
.cnitalic {font-style: italic;}
.cntwd {font-weight:300;} 

.cnlh120 {line-height:120%;}
.cnlh100 {line-height:180%;}
 
.cnml10 {margin-left:10px;} 
.cnmr10 {margin-right:10px;} 
 
.cnmt10 {margin-top:10px;}
.cnmt15 {margin-top:15px;}
.cnmt20 {margin-top:20px;} 
.cnmt25 {margin-top:25px;} 
.cnmt35 {margin-top:35px;} 
.cnmt40 {margin-top:40px;} 
.cnmt50 {margin-top:50px;} 
.cnmt80 {margin-top:80px;} 
.cnmt100 {margin-top:100px;} 
.cnmt200 {margin-top:200px;}

.cnmtm3 {margin-top:-2px;}

.cnlsm10 {letter-spacing:-0.075em;}

.cnimg {width:100%; height:auto;}
.cnimg2 {width:49.5%; height:auto;}
.cnimg3 {width:20%; height:auto; margin-right:3%;} 
.cnimg4 {width:30%; height:auto; margin:0 auto;}

.cnfl {float:left;}
.cnfr {float:right;}
.cnwid30{width:30%; height:auto}
.cnwid70{width:69.5%; height:auto} 
input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

input[type="checkbox"] {
  margin-top: -1px;
  vertical-align: middle;
}