@charset "utf-8";
/* 초기화 reset css*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;    
    word-wrap: break-word;
    word-break: keep-all;
}
html {font-size:16px;}
body {min-width:320px;font-size:12px;color:#333;line-height:1.5;font-family:"Noto Sans KR","Apple SD Gothic Neo","Malgun Gothic","Dotum","Hevetica",Arial,sans-serif;font-weight:400;-webkit-text-size-adjust:none;letter-spacing:-0.025em}

ul {
    list-style:none;
}


a { border:0;
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	text-decoration: none;
	color:#333;
}
table {
    border-collapse: collapse;
}
table img {
    max-width:100%;
}
hr {
    display:none;
}
ol, ul, li {
    list-style: none;
}
a, img, input {
selector-dummy: expression(this.hideFocus=true);
}
a img, fieldset {
    border: 0px none;
}
caption {
    display:none;
}
address, em {
    font-style: normal;
}
html:first-child select {
} /* Opera Fix */
option, x:-moz-any-link {
padding-left:6px;
} /* Firefox Fix */
option, x:-moz-any-link, x:default {
padding-right: 0;
} /* Firefox Fix */

input[type=text], [type="password"], [type="search"], [type="email"], [type="url"], [type="number"], [type="tel"], [type="phone"], select, textarea {
vertical-align:middle;
transition:border-color 0.2s;
border:1px solid #cccccc;
border-radius:0px;
color:#565a5c;
box-sizing:border-box;
-moz-box-size:border-box;
background-color:#fff;
padding:5px;
}
input {vertical-align: middle;}

input[type="radio"] {
    -webkit-appearance: radio;
    box-sizing:border-box;
}
input[type="radio"], input[type="checkbox"] {margin: 0px 0.5ex;padding:initial;background-color:initial;border: initial;}


